# Python
__pycache__/
*.pyc

# Dataset & Model
/dataset/
/models/*.pth
/models/*.pt

# Ignore Android project
android-app/

# Android Studio
/android-app/.gradle/
/android-app/.idea/
/android-app/app/build/
